{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1>قائمة الأصدقاء</h1>
  <div class="card">
    <div class="card-body" style="background-color:dimgrey;">
      <form action="{% url 'friends' %}" method="get">
          <input type="text" name="search" class="form-control" placeholder="بحث.."/>
          <button class="btn btn-danger mt-3"><i class="bi bi-search-heart"></i> بحث</button>
          <a href="{% url 'friends' %}" class="btn btn-danger mt-3">إظهار الكل</a>
        </form>
    </div>
  </div>
</div>

{% endblock %}